* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    background-image: url(https://images6.alphacoders.com/728/728101.png);
    background-position: center;
    background-size: cover;
    color: #f5f6f7;
    font-size: 16px;
  }

  #title, #description {
  text-align: center;
  margin: 1em auto
  
}
  
#title {
  margin-bottom: -10px;
}
#description {
  margin-bottom: 2em;
}
  
form {
  margin: 20px 20px;
  
}
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input, textarea, select {
    margin: 10px 0 10px 0;
    padding: 8px;
    width: 100%;
    min-height: 2em;
    font-size: 1em;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
  }
  .container {
    background: rgba(37, 32, 65, 0.7);
    width: 50%;
    margin: 20px auto;
    border-radius: 9px;
    padding: 10px 10px;
  }

  @media (max-width: 950px) {
    .container {
      width: 70%;
    }
  }


  @media (max-width: 750px) {
    .container {
      width: 90%;
    }
  }